<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="../../../assets/images/logo.png" alt="logo website">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">

          <a routerLinkActive="active" class="nav-link" routerLink="" [routerLinkActiveOptions]="{exact:
            true}">Home</a>

        </li>
        <li class="navbar-item">
          <a *ngIf="getRole()" class="nav-link" routerLink="admin" routerLinkActive="active">
            Dash Bord
          </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link" routerLink="products" routerLinkActive="active">
            products
          </a>
        </li>

        <li id="cart"class=" ms-3 me-3 mt-sm-5 mt-md-3   ">

          <a class="cart-Count nav-link" (click)="gotoCart()">
            <i class="fa-solid fa-cart-shopping fa-1x text-white"></i>
            <div class="numberOfitems">
              <span class="numInCart">{{totalItem ||0}}</span>
            </div>
          </a>
        </li>


        <li class="nav-item">
          <div *ngIf="getUserName()" class="navbar-end">
            <div class="navbar-item ">

              <div class=" ms-3  position-relative me-5 information-auth">
                <img id="img-profile"  class="img-fluid rounded  " src="assets/images/profile.png"
                  alt="profile image">
                  <span class="ms-5">{{getUserName()}}</span>


                   <div  class=" profile-caption">
                    <a class="ms-3 text-dark"  routerLink="profile" >
                      Profile

                   </a>
                   <hr class="mt-1 mb-1" />
                  <a class="ms-3 text-danger" (click)="logout()">
                    Log Out
                  </a>

           </div>

              </div>
            </div>
          </div>
        </li>



        <li class="nav-item">
          <div *ngIf="!getUserName()" class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">

                <a class="button is-light" (click)=" goTOLogin()">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
