<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-fluid" src="../../../assets/images/logo.png" alt="logo website">

    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">

          <a routerLinkActive="active" class="nav-link" routerLink="" [routerLinkActiveOptions]="{exact:
            true}">Home</a>

        </li>
        <li class="navbar-item">
          <a *ngIf="getRole()" class="nav-link" routerLink="admin" routerLinkActive="active">
            Dash Bord
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active">
            products
          </a>
        </li>

        <li class=" ms-3 me-3">

          <a class="cart-Count" (click)="gotoCart()">
            <i class="fa-solid fa-cart-shopping fa-1x text-white"></i>
            <div class="numberOfitems">
              <span class="numInCart">{{totalItem ||0}}</span>
            </div>
          </a>
        </li>


        <li class="nav-item">
          <div *ngIf="getUserName()" class="navbar-end">
            <div class="navbar-item">

              <div class=" ms-3  ">
                <img id="img-profile" (click)="goToProfile()" class="img-fluid rounded" src="assets/images/profile.png"
                  alt="profile image">



              </div>
              <div class="navbar-item ms-1">
                <a class="  " class="nav-link" routerLink="profile" routerLinkActive="active">

                  {{ getUserName()}}
                </a>
              </div>

              <div class="buttons ms-2">

                <a class="button is-light" (click)="logout()">
                  Log Out
                </a>
              </div>
            </div>
          </div>
        </li>



        <li class="nav-item">
          <div *ngIf="!getUserName()" class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">

                <a class="button is-light" (click)=" goTOLogin()">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</nav>
