.numberOfitems {
  position: relative;
  top: -6px;
  z-index: 2;
  right: 20px;

  color: white;
  border-radius: 50%;
}

.numberOfitems span {
  position: absolute;
  width: 20px;
  height: 20px;

  bottom: 12px;
  background-color: red;
  border-radius: 50%;
  right: -30px;
  text-align: center;
}

.profile {
  border: 3px bold white;
}

.active {
  color: white !important;
  background-color: #317ece;
}

#img-profile {
  cursor: pointer;
}
.profile-caption {
  position: absolute;
  height: 100px;
  width: 120px;
  top: 35px;
  left: -20px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black !important;
  transition-duration: 1s;
  visibility: hidden;
}
#img-profile:hover  ~ .profile-caption {
  transition-timing-function: ease-in-out;
  visibility: visible;
}
.profile-caption:hover{
  visibility: visible;
}
.information-auth{
span{
  display: none;
}
}
@media (max-width:961px)  {

  .active{
  padding: 10px;
  }

  .information-auth{
   span{
    display:inline;
     color: white;
     font-weight: 700;
   }
   img{
     margin-left: 50px;
   }
   .profile-caption{
     left: 50px;
   }
  }
  #cart{
    margin-top: 20px;
  }
}

