table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table th {

  margin: auto;
}

table td,
th {



  vertical-align: middle;




}

.order-navigate {
  cursor: pointer;
}
@media (max-width:768px)  {

  #accept-order{


    margin-right: 100px !important;
    font-size: 12px;
    padding: 5px !important;

  }
  #canncel-order{
    font-size: 12px;
    padding: 5px !important;
  }
 }
