table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table th {

  margin: auto;
}

table td,
th {



  vertical-align: middle;




}

.order-navigate {
  cursor: pointer;
}
