
<div class=" d-flex  flex-column p-5 ">

<div class="text-white ">
  <i class="fas fa-chart-line me-2"></i> Dash Bord
</div>
</div>

<ul class=" mt-5">
<li  [routerLinkActiveOptions]="{exact:true}" routerLink='/admin' routerLinkActive="active"  class="active m-5 text-white">Products</li>
<hr />
<li  [routerLinkActiveOptions]="{exact:true}" routerLink="/admin/order" routerLinkActive="active" class="m-5 text-white">Order</li>
<hr />
<li  [routerLinkActiveOptions]="{exact:true}" routerLink='/admin/order/pending' routerLinkActive="active" class="m-5 text-white">Order Pending</li>
<hr />
</ul>

