 <h1 mat-dialog-title class="text-center">Confirm request</h1>
<div mat-dialog-content class="text-center mb-2">This Product Already Exist In Your Cart .</div>
<div mat-dialog-content class="text-center">Are You Sure Increase This Quainaty By 1 ? </div>
 <div mat-dialog-actions  class="text-center mt-5">
   <button style="margin-right:12px" mat-raised-button color="primary"  (click)="updateCartItem()">ok</button>
   <button mat-button mat-dialog-close mat-raised-button color="warn" (click)="close()">Close</button>
</div>
