<mat-sidenav-container class="mb-5">
  <mat-sidenav class=" side-navbar" #sideNav mode="side" opened>
    <app-side-navbar> </app-side-navbar>

    </mat-sidenav>
  <mat-sidenav-content >
    <!-- <router-outlet  name="dashbord"></router-outlet> -->
      <router-outlet ></router-outlet>

    <app-orders></app-orders>

  </mat-sidenav-content>
</mat-sidenav-container>
<!-- <app-side-navbar> </app-side-navbar>
<router-outlet name="dashbord"></router-outlet> -->
 <!-- <router-outlet name="foo"></router-outlet> -->
<!--<router-outlet name="bar"></router-outlet> -->
