.section-overlay{


  height: 100vh;

  .backGround-caption{
    background-color: #317ECE;
    // background-color: rgba($color: #317ECE, $alpha: .7);
  }
  #discount-image{
height:6.5rem;
  }
}
p{
  padding: 0;
  margin: 0;

}
hr{
margin:0;
padding: 0;
}
.caption-information{
 background-color: #212529;
 border-radius: 5px;
  img{
    width:50px;
    border-radius: 5px;

  }
  p{
    padding: 0;
    margin: 0;
  }
  button{
    background-color: white;
    color:gray
  }
}
.shipping-information{
  background-color: #212529;
  padding: 10px;
  border-radius: 5px;
  img{
    width:50px;
    height:40px;

    border-radius: 4px;
  }
}
.right-part{
 background-color: #212529;
 border-radius: 5px;
 #order-buuton{
   background-color: white;
   color: #317ECE;
   font-weight: 700;
 }
#edit-button{
  background-color: white;
  font-size: 10px;
  border:1px solid blue;

}
  .main-color{
    color:white;
    font-size: 10px;
  }
}


