.message-valid {
  display: block;
  text-align: center;
  color: #B03D42;
  margin-top: 5px;
}

.button-center {
  text-align: center;
}


input[type="file"] {
  border: none !important;
  width: 100px;
}
