<div class="form-container">
  <div mat-dialog-content class="form-caption">
    <form [formGroup]="productForm" (ngSubmit)="submitForm()">
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input is-info"
            type="text"
            placeholder="Name"
            formControlName="name"
          />

          <span *ngIf="name?.valid" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>

          <span class="message-valid" *ngIf="name?.invalid && name?.touched">
            This name not valid
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input is-info"
            type="text"
            placeholder="Brand"
            formControlName="brand"
          />

          <span *ngIf="brand?.valid" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          <span class="message-valid" *ngIf="brand?.invalid && brand?.touched">
            This not valid brand
          </span>
        </p>
      </div>

      <div class="input-group mb-3">
        <input
          type="file"
          class="form-control"
          id="inputGroupFile02"
          accept="image/png, image/jpeg,image/jpg"
          formControlName="image"
        />
        <label
          class="input-group-text ms-2 btn btn-primary"
          for="inputGroupFile02"
          >Upload Image</label
        >
      </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input is-info"
            type="number"
            placeholder="Price"
            formControlName="price"
          />
          <span *ngIf="price?.valid" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          <span class="message-valid" *ngIf="price?.invalid && price?.touched">
            This not valid number
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input
            class="input is-info"
            type="number"
            placeholder="CountInStock"
            formControlName="countInStock"
          />
          <span *ngIf="countInStock?.valid" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          <span
            class="message-valid"
            *ngIf="countInStock?.invalid && countInStock?.touched"
          >
            This not valid number
          </span>
        </p>
      </div>

      <div class="select is-info mb-3">
        <select formControlName="category">
          <option>Category</option>
          <option>LapTop</option>
          <option>Mobile</option>
          <option>IPad</option>
        </select>
      </div>

      <div class="field is-info">
        <p class="control has-icons-left has-icons-right">
          <textarea
            class="textarea is-info"
            placeholder="Description"
            formControlName="description"
          ></textarea>
          <span *ngIf="description?.valid" class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
          <span
            class="message-valid"
            *ngIf="description?.invalid && description?.touched"
          >
            This not valid desciption
          </span>
        </p>
      </div>

      <div mat-dialog-actions [align]="'end'">
        <button
          type="button"
          mat-raised-button
          mat-dialog-close
          color="warn"
          (click)="close()"
        >
          Close
        </button>
        <button
          style="margin-left: 8px"
          mat-raised-button
          color="primary"
          [disabled]="
            productForm?.untouched ||
            name?.invalid ||
            description?.invalid ||
            image?.invalid ||
            price?.invalid ||
            countInStock?.invalid ||
            category?.value == 'Category'
          "
        >
          {{ actionBtn }}
        </button>
      </div>
    </form>
  </div>
</div>
