.over-lay-not-found
{
  height: 90vh;


}
.caption{
  background-color: white;
  p{
    color: #317ECE;
  }
  button{
    background-color: #317ECE;
    color:white;
    margin-top: 20px;
    font-weight: 700;
    padding: 10px 30px;
  }
}
