/* You can add global styles to this file, and also import other style files */

@import "~ngx-smart-modal/ngx-smart-modal";
$main-color:#34CCCA;
$back-ground:#28C7B6;
$green-color:#31CBC9;



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
