.color-heading{
    margin: 60px 0;
    text-transform: capitalize;
    color:#317ECE;
}
.add-button{
  color: white;
  background-color: #317ECE;
}
.shoping-button{
   color:white ;
  background-color: #293240;
}
