@import "../../../../styles.scss";

.form-container {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #293240;
  height: 100vh;

  .button-center {
    text-align: center;

    button {
      width: 50%;
      background-color: #317ECE;
      color: black;
      font-weight: 500;
    }
  }

  .new-acount span {
    margin-left: 1rem;
    color: #024172;
    font-weight: 700;
    cursor: pointer;
  }

  .message-valid {
    display: block;
    text-align: center;
    color: #B03D42;
  }

  .form-caption {
    width: 350px;
  }
}

.image-login {

  img {
    width: 100px;
    height: 100px;

  }
}
