.card {
    margin-bottom: 30px;
}
.card-img-top{
    border-bottom: 1px solid black;
}
.card-title{
    text-transform: capitalize;
    font-size: 25px;
}
.available{
    color: black;
    font-weight: 700;
}
.notavailable{
    font-weight: 700;
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.star {
  font-size: 1.5rem;
  color: #b0c4de;
}
.filled {
  color: #ffa41c;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ffa41c;
}
// .product-screen{
//   height:100vh;
// }
.pagination-display{
  display: none;

}
.data-match{
  display: flex;
  justify-content: center;
  align-items: center;
  // color: #ffa41c;
}

